<% include("./tools") %>
<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="minimum-scale=1, width=device-width" />
<meta
  name="theme-color"
  content="<%= colors.convertToHex(colors.palette.yellow) %>"
/>
<meta property="og:url" content="<%= meta.domain %><%= page.url %>" />
<% if(typeof title === "string") { %>
<meta property="og:title" content="<%= title %> — DasSur.ma" />
<meta name="twitter:title" content="<%= title %> — DasSur.ma" />
<title><%= title %> — DasSur.ma</title>
<% } else { %>
<meta property="og:title" content="DasSur.ma" />
<meta name="twitter:title" content="DasSur.ma" />
<title>DasSur.ma</title>
<% } %>
<meta property="og:type" content="article" />
<% if(typeof socialmediaimage === "string") { %>
<meta
  property="og:image"
  content="<%= meta.domain %>emitChunk(./<%= socialmediaimage %>)"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta
  name="twitter:image"
  content="<%= meta.domain %>emitChunk(./<%= socialmediaimage %>)"
/>
<% } else { %>
<meta name="twitter:card" content="summary" />
<% } %> <% if(hasExcerpt(content)) { %>
<meta property="og:description" content="<%= excerpt(content) %>" />
<meta name="twitter:description" content="<%= excerpt(content) %>" />
<% } %>

<meta name="twitter:site" content="@DasSurma" />
<link
  href="index.xml"
  type="application/atom+xml"
  rel="alternate"
  title="Sitewide Atom feed"
/>
<style>
  :root{
    <% for(const [name, color] of Object.entries(colors.palette)) { %>
      --<%= name %>: <%= color %>;
    <% } %>
  }
  @media (prefers-color-scheme: dark) {
    :root {
      <% for(const [name, color] of Object.entries(colors.darkpalette)) { %>
        --<%= name %>: <%= color %>;
      <% } %>
    }
  }
  html.forcelight {
    <% for(const [name, color] of Object.entries(colors.palette)) { %>
      --<%= name %>: <%= color %>;
    <% } %>
  }
  html.forcedark {
    <% for(const [name, color] of Object.entries(colors.darkpalette)) { %>
      --<%= name %>: <%= color %>;
    <% } %>
  }
</style>
<link rel="stylesheet" href="emitChunk(/styles.css)" />
<link
  rel="stylesheet"
  href="emitChunk(/syntax.css)"
  media="none"
  onload="media = 'all'"
/>
<!-- IndieWeb -->
<link rel="icon" href="emitChunk(/avatars/surma.jpg)" />
<link rel="apple-touch-icon-precomposed" href="emitChunk(/avatars/surma.jpg)" />
<link rel="me" href="mailto:surma@dassur.ma" />

<noscript>
  <link rel="stylesheet" href="emitChunk(/syntax.css)" />
</noscript>
<body>
<header>
  <% if(typeof hasBackButton === "boolean" && hasBackButton) { %>
  <a href="/" class="back">← Back to home</a>
  <% } %>
  <h1>
    <% if(typeof title === "string") { %> <%= title %> <% } else { %> DasSur.ma
    <% } %> <% if(typeof title === "string" && typeof live === "boolean" && live
    === false) { %>
    <p>UNPUBLISHED / PREVIEW</p>
    <% } %>
  </h1>
  <% if(typeof date === "string") { %>
  <time datetime="<%= date %>">
    <%= date %>
  </time>
  <% } %>
  <div class="arrows">
    <div class="arrow darkblue"></div>
    <div class="arrow blue"></div>
    <div class="arrow lightblue"></div>
    <div class="arrow purple"></div>
    <div class="arrow pink"></div>
    <div class="arrow red"></div>
    <div class="arrow orange"></div>
  </div>
</header>
<main lang="en">
  <%- content %>
</main>
<footer>
  <div class="arrows">
    <div class="arrow yellow"></div>
    <div class="arrow orange"></div>
    <div class="arrow red"></div>
    <div class="arrow pink"></div>
    <div class="arrow purple"></div>
    <div class="arrow lightblue"></div>
    <div class="arrow blue"></div>
  </div>
  <% if(typeof hasBackButton === "boolean" && hasBackButton) { %>
  <a href="/" class="back">← Back to home</a>
  <% } %>
  <section class="me">
    <img src="emitChunk(/avatars/<%= author.avatar %>)" class="avatar" />
    <div class="bio">
      <h3 class="name">
        <%= author.name %>
      </h3>
      <p class="info">
        <%= author.bio %>
      </p>
    </div>
    <% const numSocialCols = 6; const socials = [ ...new Array(6 -
    Object.keys(author.socials).length).fill(["", ""]),
    ...Object.entries(author.socials) ]; for(const [social, link] of socials) {
    if(!social) { %><span class="icon"></span><% continue; } %>
    <span
      class="icon"
      style="--mask: url(emitChunk(/icons/<%= social %>.svg));"
    >
      <a href="<%= link %>" rel="me">
        <%= social %>
      </a>
    </span>
    <% } %>
    <a href="/licenses" class="licenses">Licenses</a>
  </section>
</footer>
</body>
<script>
  window.ga = window.ga || ((...args) => (ga.q = ga.q || []).push(args));
  ga("create", "UA-69989029-1", "auto");
  ga("set", "transport", "beacon");
  ga("send", "pageview");
  // Load the GA script
  const s = document.createElement("script");
  s.src = "https://www.google-analytics.com/analytics.js";
  document.head.appendChild(s);
</script>
<script src="emitChunk(/noise.js)" type="module"></script>
<% if(typeof disableDarkMode !== "boolean" || !disableDarkMode) { %>
<script src="emitChunk(/darkmode.js)" type="module"></script>
<% } %>