<%
  include("./tools");
%>
<%
  var showExcerpt = showExcerpt || false;
  items = items
    .filter(item => item.data.live !== false)
    .sort((a, b) => {
      return b.date.getTime() - a.date.getTime();
    });
  if(max > 0) {
    items = items.slice(0, max);
  }
  for(const item of items) {
%>
  <li>
    <a href="<%= item.url %>"><%= item.data.title %></a>
    <% if(showExcerpt) { %>
      <%- excerpt(item.templateContent) %>
    <% } %>
    <time class="date" datetime="<%= item.date.toUTCString() %>">
       — <%= Intl.DateTimeFormat("en-US", meta.datefmt).format(item.date) %>
    </time>
  </li>
<% } %>