<%
  include("./tools");
%>
<%
  var start = typeof start === "number" ? start : 0;
  var showExcerpt = typeof showExcerpt === "boolean" ? showExcerpt : true;
  var max = typeof max === "number" ? max : items.length;
  items = sortByNew(items).slice(start, max);
  for(const item of items) {
%>
  <li class="item">
    <a class="posttitle" href="<%= item.url %>"><h3><%= item.data.title %></h3></a>
    <p class="excerpt">
      <% if(showExcerpt) { %>
        <%- findExcerpt(item) %>
      <% } %>
    </p>
    <time class="postdate" datetime="<%= item.date.toUTCString() %>">
      <%= Intl.DateTimeFormat("en-US", meta.datefmt).format(item.date) %>
    </time>
  </li>
<% } %>